body {
  background-color: hsl(30, 38%, 92%);
}

#ad-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 800px;
  width: 700px;
}

img {
  height: 400px;
  width: 300px;
}

#ad-text {
  background-color: white;
  padding: 20px;
}

#ad-text-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#ad-text-item-name {
  font-family: 'Fraunces', serif;
  font-size: 35px;
  font-weight: 700;
}

#ad-text-item-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

#ad-price-current {
  font-family: 'Fraunces', serif;
  font-size: 45px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

#ad-price-regular {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-decoration: line-through;
}